<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">python</a></li>
  <li><a href="#!">java</a></li>
  <li class="divider"></li>
  <li><a href="#!">database</a></li>
</ul>
<nav class="bg-primary">
  <div class="container">
    <div class="nav-wrapper">
    <a href="/home/" class="brand-logo">MY BLOG</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/admin">ADMIN</a></li>
    
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORY<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
      
  </div>
</nav>